.showErrorText {
		font-family: tahoma;
        color: red;
        font-size: 11px;
        font-weight: bold;
}

.showFormFieldError {
		font-family: tahoma;
        color: red;
        font-size: 10px;
        font-weight: bold;
}

.radioButtonsPregunta{
	width: 22px; 
	height: 22px;
}
